trigger:
- main

pool:
  name: Default  # Usa el pool donde está tu agente

steps:
- script: |
    echo Hola, tu pipeline está funcionando
    echo Proyecto ejecutado correctamente
  displayName: "Pipeline de prueba"
